.login {
    background-color: blue;
    
    background-repeat: no-repeat;
    background-size: contain;
    height: 595px;
    width: 219vh;
  
}
 #fondo{
    background-image: url('../img/FondoLogin.jpg');
 }


.title1 {
    text-align: center;
}