.login {
    background-image: url('../img/FondoLogin.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 595px;
    width: 219vh;
}
 


.title1 {
    text-align: center;
}