.login {
    background-image: url('../img/login2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 595px;
    width: 219vh;
}
 
#tarjeta_login{

  background: linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299);
  border-radius: 2.5%;

}


.title1 {
    text-align: center;
    color: white;
}